* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;

}

.calculator{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 5px;
max-width: 300px;
margin:0;
padding: 10px;
background-color: ;
border: 1px solid white;
border-radius: 7px;
}
.display{
grid-column: span 4;
text-align: right;
background-color: white;
padding: 7px;
border: 3px solid;
border-radius: 10px;
cursor:text;
font-size: 20px;
}

button{
width: 100%;
background-color: red;
border-radius: 10px;
border: none;
cursor: pointer;
padding: 25px;
font-size: 20px;
font-weight: bold;
transition: background-color .25s;
transition: color .25s;
}
button:hover{
background-color: blue;
color: white;
}